<%- include('../partials/head') %>
<body>
    <main>
        <!-- <a href=""><img class="logo" src="/assets/logo.svg" alt="logo"></a> -->
        <%- include('../partials/background') %>
        <table>
            <thead>
                <th class="id">ID</th>
                <th class="email">E-MAIL</th>
                <th class="date">DATA DE CADASTRO</th>
                <th class="options">AÇÕES</th>
            </thead>
            <tbody>
                <% emails.forEach(email => { %>
                    <tr>
                        <td><%= email.id %></td>
                        <td><%= email.email %></td>
                        <td><%= email.createAt %></td>
                        <td>
                            <button type="button" class="delete">
                                <img src="/assets/delete.svg" alt="img_delete" title="Excluir" value="<%- email.id %>">
                            </button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        
        <a href="/" class="home"><div>Voltar</div></a>
    </main>
    <script src="/javascripts/listEmails.js"></script>
</body>
</html>